.App {
    display: flex;
    flex-direction: column;
    background: #222222;
    width: 100vw;
    height: 100vh;
}

.cardAndControls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}