.Navbar {
    display: flex;
    align-items: center;
    background: #33a5da;
    width: 100vw;
    height: 10vh;
}

.Home {
    margin-left: 5vw;
    font-size: 2em;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: 700;
}